<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Поиск туров</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css2">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link href="../static/css/avia.css" rel="stylesheet">
    <link href="/css/avia.css" rel="stylesheet">
    <style>
        .navbar{
            margin-bottom:0;
            border-radius:0;
        }
    </style>
</head>
<body id="AviaBody">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#" style="padding-right: 5vh">TourSearch</a>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Авиатуры <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Автобусные туры</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="${session.user_name}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path id="logout-image" fill="#939C99" d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>