<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css2">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Tour Search</h2>
                <p>Войдите в систему</p>
            </div>
            <form id="Login" action="/login" method="post">
                <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                </div>
                <div class="register">
                    <a href="reset.html">Регистрация</a>
                </div>
                <div class="forgot">
                    <a href="reset.html">Забыли пароль?</a>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>

            </form>
        </div>
    </div></div>
</body>
</html>