<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Поиск туров</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css2">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="../static/css/avia.css" rel="stylesheet">
    <link href="/css/avia.css" rel="stylesheet">
    <script src="../static/js/monitoring.js"></script>
    <script src="/js/monitoring.js"></script>
    <!-- Calendar http://www.daterangepicker.com/ -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- -->

    <!-- jQWidgets -->
    <script type="text/javascript" src="../static/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="../static/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdraw.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxchart.core.js"></script>
    <script type="text/javascript" src="/scripts/demos.js"></script>
    <!-- add the jQWidgets base styles and one of the theme stylesheets -->
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <link rel="stylesheet" href="../static/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../static/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <!-- -->
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>
<body id="AviaBody" onload="init();">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" style="padding-right: 5vh">TourSearch</a>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/avia">Авиатуры</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bus">Автобусные туры</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="">Мониторинг <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/monitoring_list" th:text="${session.user_name}"></a>
                    <input id="userId" type="hidden" th:value="${session.user.getId()}">
                    <input id="monitoringId" type="hidden" th:value="${monitoring_id}">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path id="logout-image" fill="#939C99"
                                  d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="tours-container" style="display: none; width: 42vw; margin-bottom: 20px; margin-top: 80px;">
    <div class="card flex-row flex-wrap" style="margin-top: 20px;">
        <div class="card-block px-2 tour-content" style="padding-bottom: 12px;">
            <a id="monitoringName" class="tour-description-item tour-header">Имя мониторинга</a>
            <div id="monitoringCountry" class="tour-place">Египет</div>
            <div class="tour-description-item">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M7,10H12V15H7M19,19H5V8H19M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" />
                </svg>
                <span id="monitoringDates" class="tour-description-item-text">21.09 - 30.09</span>
            </div>
            <div class="tour-description-item">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
                </svg>
                <span id="monitoringPeople" class="tour-description-item-text">2 взрослых</span>
            </div>
            <div class="tour-description-item">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M17.75,4.09L15.22,6.03L16.13,9.09L13.5,7.28L10.87,9.09L11.78,6.03L9.25,4.09L12.44,4L13.5,1L14.56,4L17.75,4.09M21.25,11L19.61,12.25L20.2,14.23L18.5,13.06L16.8,14.23L17.39,12.25L15.75,11L17.81,10.95L18.5,9L19.19,10.95L21.25,11M18.97,15.95C19.8,15.87 20.69,17.05 20.16,17.8C19.84,18.25 19.5,18.67 19.08,19.07C15.17,23 8.84,23 4.94,19.07C1.03,15.17 1.03,8.83 4.94,4.93C5.34,4.53 5.76,4.17 6.21,3.85C6.96,3.32 8.14,4.21 8.06,5.04C7.79,7.9 8.75,10.87 10.95,13.06C13.14,15.26 16.1,16.22 18.97,15.95M17.33,17.97C14.5,17.81 11.7,16.64 9.53,14.5C7.36,12.31 6.2,9.5 6.04,6.68C3.23,9.82 3.34,14.64 6.35,17.66C9.37,20.67 14.19,20.78 17.33,17.97Z" />
                </svg>
                <span id="monitoringNights" class="tour-description-item-text">6 - 12 ночей</span>
            </div>
            <div class="tour-description-item">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M11,9H9V2H7V9H5V2H3V9C3,11.12 4.66,12.84 6.75,12.97V22H9.25V12.97C11.34,12.84 13,11.12 13,9V2H11V9M16,6V14H18.5V22H21V2C18.24,2 16,4.24 16,6Z" />
                </svg>
                <span id="monitoringMeals" class="tour-description-item-text">Только завтраки</span>
            </div>
            <div class="tour-description-item">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z" />
                </svg>
                <span id="monitoringPrice" class="tour-description-item-text">до 25800 грн</span>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="align-middle card-footer w-100 text-muted">
            <a href="#" class="btn btn-danger">Отключить</a>
            <a href="#" class="btn btn-dark" style="float: right;">Удалить</a>
        </div>
    </div>

    <div id="priceChart" style="width: 100%; height: 25vw; background-color: red; margin-top: 15px;"></div>
</div>

</body>
</html>